.container {
  display: flex;
  margin-top: 10px;
}

.others {
  flex: 4;
}

.featuredTitle {
  font-size: 20px;
}

.featuredMoneyContainer {
  margin: 10px 0px;
  display: flex;
  align-items: center;
}

.featuredMoney {
  font-size: 30px;
  font-weight: 600;
}

.featuredRate {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.widget {
  display: flex;
  flex: 1;
}
